<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39134466811-1arbq7ft9tv7tv6ub8nnbj9ucobf2suu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39134466811-1arbq7ft9tv7tv6ub8nnbj9ucobf2suu</string>
	<key>API_KEY</key>
	<string>AIzaSyD5kyG1EYJcdwLSmxIWRg1kY_93OCczyhA</string>
	<key>GCM_SENDER_ID</key>
	<string>39134466811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lakroupadev.FitMate</string>
	<key>PROJECT_ID</key>
	<string>fitmate-61e58</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmate-61e58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39134466811:ios:5f1a966766f1f8da50965e</string>
</dict>
</plist>